body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #111;
  color: #fff;
}

h1 {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  background: #00adb5;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #01949a;
}

.box {
  margin-top: 20px;
}

video {
  width: 300px;
  border-radius: 10px;
  border: 2px solid #00adb5;
}